<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <a href="/article/<%= article._id %>">Back</a>
        <h2>Edit Article</h2>
        <form action="/edit/article/<%= article._id %>" method="POST">
            <label>Title</label>
            <input type="text" name="title" value="<%= article.title %>" class="form-control" required>
            <br>
            <label>Article</label>
            <textarea name="article" rows="6" class="form-control" required><%= article.article %></textarea>
            <br>
            <button class="btn btn-primary"> Submit </button>
        </form>
    </div>
</body>
</html>