html,
body {
  height: 100%;
}

body {
  background-color: #dcedc8;
}
.app {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.clock-outer {
  width: 260px;
  height: 260px;
  border: 2px solid #689f38;
  border-radius: 100%;
}
.clock {
  width: 250px;
  height: 250px;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 100%;
  border: 5px solid #fff;
}
.timer {
  width: 240px;
  height: 240px;
}
.timer p {
  width: 240px !important;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 80px;
  text-align: center;
  font-size: 18px;
}

#time {
  font-size: 55px;
  font-weight: bold;
  color: #689f38;
  text-align: center;
  width: 240px;
}
