/*CSS reset, don't mind it for now. */
*{
 margin: 5px;
 padding: 5px;
}
#container{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 display: flow-root;
}
#header{
 height: 150px;
 background-color: blue;
}
#nav_bar{
 min-height: 300px;
 width: 180px;
 background-color: red;
 float: left;
}
#main_content{
 height: 360px;
 width: 725px;
 background-color: yellow;
 float: left;
}
.subcontent{
 height: 200px;
 width: 200px;
 background-color: purple;
 float: left;
}
#advertisements{
 height: 90px;
 width: 640px;
 background-color: pink;
 float: left;
}