@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #999;
}

.overlay-container {
    width: 40%;
    height: 87.5%;
    background-color: #fff;
    border-radius: 25px;
    padding: 15px;
}

.close-icon::before {
    content: '\2715';
    font-size: 22px;
    position: absolute;
    margin-left: 10px;
    color: #000;
    font-weight: bold;
}

.center {
	display: block;
	margin: 0 auto;
}

.twitter-logo {
	width: 65px;
}

.overlay-container h1 {
	text-align: center;
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
  	font-weight: 700;
  	padding: 35px;
}

.google-logo {
	height: 30px; 
	margin-right: 7px;
}

.google-button {
	border: 1px solid #d3dce1;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 375px;
    text-align: center;
    border-radius: 50px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 35px;
    cursor: pointer;
}

.img-txt-container {
	display: flex;
    align-items: center;
}

.apple-logo {
	height: 30px; 
	margin-right: 7px;
}

.apple-button {
	border: 1px solid #d3dce1;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 375px;
    text-align: center;
    border-radius: 50px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
  	font-weight: 700;
  	font-size: 18px;
  	cursor: pointer;
}

.or-divider {
	font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    border-top: 1px solid #d3dce1;
    line-height: 0;
    margin: 28px auto;
    width: 375px;
}

.or-divider span{
  	padding: 0 10px;
  	background-color: #fff;
}

.form-field {
	height: 74px;
    width: 375px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #596976 !important;
    border: 1px solid #ccc;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 35px;
}

.next-button {
	background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    text-align: center;
    border-radius: 50px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    cursor: pointer;
}

.forgot-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    text-align: center;
    border-radius: 50px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 65px;
    cursor: pointer;
}

.signup-text {
	font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 375px;
    margin: 0 auto;
}