<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-5">

	<a href="/feed">Back</a>

	<h3>Edit Post</h3>

	<form action="/feed/edit/<%= post.postId %>" method="POST">

		<input type="text" name="name" value="<%= post.name %>" class="form-control mb-2">

		<textarea name="message" class="form-control mb-2"><%= post.message %></textarea>

		<button class="btn btn-primary">Update</button>

	</form>

</body>
</html>