<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Facebook Feed</title>
</head>

<body class="container mt-5">

	<h2>Facebook Feed</h2>

	<form action="/add-post" method="POST" class="mb-4">

		<input type="text" name="name" placeholder="Your Name" class="form-control mb-2" required>

		<textarea name="message" placeholder="Write something..." class="form-control mb-2" required></textarea>

		<button class="btn btn-primary">Post</button>

	</form>

	<hr>

	<% posts.forEach(function(post){ %>

	<div class="card mb-3">

		<div class="card-body">

			<h5><%= post.name %></h5>

			<p><%= post.message %></p>
			<small class="text-muted">Posted on: <%= post.createdAt.toLocaleString() %></small>


			<a href="/feed/<%= post.postId %>">See More</a>

		</div>

	</div>

	<% }) %>

</body>
</html>